/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 4rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-1) 1px solid;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.overview {
  flex: 1;
  background-color: #fff;
  height: 80rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 500px;
    width: 70%;
    transition: all 0.3s;
    margin-right: -2.5rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(-1px); }
  .search__icon {
    height: 1.5rem;
    width: 1.5rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-left: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style-type: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s 0.2s, background-color 0.1s;
    transition-timing-function: cubic-bezier(1, 0.11, 0, 1.05); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center; }
  .side-nav__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

.gallery {
  display: flex;
  align-items: center; }
  .gallery__photo {
    width: 100%;
    display: inline-block;
    vertical-align: top; }

.hotel {
  display: flex;
  align-items: center;
  border-bottom: var(--color-grey-light-1) 2px solid; }
  .hotel__heading {
    font-size: 2.25rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    letter-spacing: 1px; }
  .hotel__stars {
    margin-right: auto; }
  .hotel__icon--stars, .hotel__icon--location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .hotel__location {
    display: flex;
    font-size: 1.2rem; }
  .hotel__rating {
    background-color: var(--color-primary);
    align-self: stretch;
    margin-left: 2rem;
    padding: 0 2.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .hotel__rating--average {
    font-size: 2.25rem;
    font-weight: 300; }
  .hotel__rating--count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.button-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: currentColor 1px solid;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  margin-left: 1rem; }
  .button-inline:hover {
    color: var(--color-grey-dark-1); }
  .button-inline:focus {
    outline: none;
    animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.5); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
