/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: var(--color-grey-light-2) 1px solid;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
    html {
        font-size: 50%;
        max-width: 100%;
        width: 100%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(
        to bottom right,
        var(--color-primary-light),
        var(--color-primary-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}
@media only screen and (max-width: 75em) {
    .container {
        margin: 0;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 37.5em) {
    .header {
        justify-content: space-around;
    }
}

.content {
    display: flex;
}
@media only screen and (max-width: 56.25em) {
    .content {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview {
    flex: 1;
    background-color: #fff;
}

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 500px;
    width: 70%;
    transition: all 0.3s;
    margin-right: -2.5rem;
}
.search__input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
}
.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
}
.search__input:focus + .search__button {
    background-color: var(--color-grey-light-3);
}
.search__button {
    border: none;
    background-color: var(--color-grey-light-2);
}
.search__button:focus {
    outline: none;
}
.search__button:active {
    transform: translateY(-1px);
}
.search__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
}
.user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.user-nav > *:hover {
    background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
    position: relative;
}
@media only screen and (max-width: 37.5em) {
    .user-nav__icon-box {
        padding: 0 1rem;
    }
}
.user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
}
.user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 37.5em) {
    .user-nav__notification {
        position: absolute;
        top: 1.5rem;
        right: 0.6rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .user-nav__user {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
}
.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-left: 1rem;
}
.user-nav__user-name {
    margin-left: 0.5rem;
}

.side-nav {
    font-size: 1.4rem;
    list-style-type: none;
    margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
    .side-nav {
        margin-top: 0;
        display: flex;
    }
    .side-nav__item {
        flex: 1;
    }
}
.side-nav__item {
    position: relative;
}
.side-nav__item:not(:last-child) {
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
    .side-nav__item:not(:last-child) {
        margin-bottom: 0;
    }
}
.side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.2s 0.2s, background-color 0.1s;
    transition-timing-function: cubic-bezier(1, 0.11, 0, 1.05);
}
.side-nav__item:hover::before,
.side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%;
}
.side-nav__item:active::before {
    background-color: var(--color-primary-light);
}
.side-nav__link:link,
.side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 56.25em) {
    .side-nav__link:link,
    .side-nav__link:visited {
        justify-content: center;
        padding: 2rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .side-nav__link:link,
    .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem;
    }
}
.side-nav__icon {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
    fill: currentColor;
}
@media only screen and (max-width: 37.5em) {
    .side-nav__icon {
        margin-right: 0;
    }
}

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
    .legal {
        display: none;
    }
}

.gallery {
    display: flex;
    align-items: center;
}
.gallery__photo {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.hotel {
    display: flex;
    align-items: center;
    border-bottom: var(--line);
}
.hotel__heading {
    font-size: 2.25rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
}
@media only screen and (max-width: 37.5em) {
    .hotel__heading {
        padding: 1rem 1.5rem;
    }
}
.hotel__stars {
    margin-right: auto;
}
@media only screen and (max-width: 37.5em) {
    .hotel__stars {
        display: flex;
        flex-direction: row;
    }
}
.hotel__icon--stars,
.hotel__icon--location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
}
.hotel__location {
    display: flex;
    font-size: 1.2rem;
}
.hotel__rating {
    background-color: var(--color-primary);
    align-self: stretch;
    margin-left: 2rem;
    padding: 0 2.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 37.5em) {
    .hotel__rating {
        padding: 0 1.5rem;
    }
}
.hotel__rating--average {
    font-size: 2.25rem;
    font-weight: 300;
}
@media only screen and (max-width: 37.5em) {
    .hotel__rating--average {
        font-size: 2rem;
    }
}
.hotel__rating--count {
    font-size: 0.8rem;
    text-transform: uppercase;
}
@media only screen and (max-width: 37.5em) {
    .hotel__rating--count {
        font-size: 0.5rem;
    }
}

.button-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: currentColor 1px solid;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    margin-left: 1rem;
}
.button-inline:hover {
    color: var(--color-grey-dark-1);
}
.button-inline:hover span {
    margin-left: 0.8rem;
}
.button-inline:focus {
    outline: none;
    animation: pulse 1s infinite;
}
.button-inline span {
    transition: margin 0.2s;
    margin-left: 0.3rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.5);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.detail {
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}
@media only screen and (max-width: 56.25em) {
    .detail {
        padding: 1rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .detail {
        flex-direction: column;
    }
}

.description {
    flex: 0 0 60%;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    margin-right: 4.5rem;
    padding: 3rem;
    font-size: 1.4rem;
}
@media only screen and (max-width: 56.25em) {
    .description {
        margin-right: 1rem;
        padding: 3.5rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .description {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
}
@media only screen and (max-width: 56.25em) {
    .list {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}
.list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
}
.list__item:before {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
}

.recommend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
}
.recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 2px solid #fff;
}
.recommend__photo:not(:last-of-type) {
    margin-right: -2rem;
}
.recommend__count {
    margin-right: auto;
}
.recommend__friends {
    display: flex;
}

.review {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3rem;
    position: relative;
}
@media only screen and (max-width: 56.25em) {
    .review {
        margin-bottom: 1rem;
        padding: 2rem;
    }
}
.review:before {
    content: '\201C';
    position: absolute;
    top: -8rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    overflow: hidden;
}
.review__text {
    margin-bottom: 2.5rem;
    z-index: 10;
    position: relative;
}
.review__user {
    display: flex;
    justify-content: space-evenly;
}
.review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}
.review__user-box {
    margin-right: auto;
    font-size: 1.1rem;
    align-self: center;
}
.review__user-name {
    text-transform: uppercase;
    font-weight: 500;
}
.review__rating {
    font-size: 2.6rem;
    align-self: center;
    color: var(--color-primary);
}

.cta {
    text-align: center;
    padding: 3.5rem 0;
    color: var(--color-grey-dark-3);
}
@media only screen and (max-width: 37.5em) {
    .cta {
        padding: 2rem;
    }
}
.cta__room-left {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
    .cta__room-left {
        margin-bottom: 1.5rem;
    }
}
.cta .button-book {
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-image: linear-gradient(
        to right,
        var(--color-primary-light),
        var(--color-primary-dark)
    );
    color: #fff;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.cta .button-book:hover .button-visible,
.cta .button-book:hover .button-invisible {
    transform: translateY(100%);
}
.cta .button-visible,
.cta .button-invisible {
    display: inline-block;
    padding: 2rem 7.5rem;
    transition: transform 0.2s;
}
.cta .button-invisible {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem;
    color: white;
    height: 100%;
    width: 100%;
}
